<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Items Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>
<body>

<div th:replace = "fragments/topnav :: navbar"></div>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title text-center">Items processed for order : <p1 th:text="${order.clientOrderNumber}"></p1></h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(order)}">
                       <!-- <tr>
                            <th>OrderId</th>
                        </tr>-->

                    <tr th:each="order : ${order}" th:id="'order' + ${order.id}">
                       <!-- <td th:text="${order.id}">id</td>-->
                        <td>
                        <table class="table table-hover " style="border:1px solid black;">
                            <thead class="thead-inverse thead-dark">
                            <tr>
                                <!--<th>ID</th>-->
                                <th>Branch Code</th>
                                <th>Detail</th>
                                <th>Line Number</th>
                                <th>SKU Number</th>
                                <th>Lot No</th>
                                <th>Qty</th>
                                <th>Receipt Po</th>
                                <th>USD1</th>
                                <th>USD2</th>
                                <th>USD3</th>
                                <th>USD4</th>
                                <th>USD5</th>
                            </tr>
                            </thead>

                            <tr th:each="item : ${order.itemDetails}">
                                <!--<td th:text="${item.id}">123</td>-->
                                <td th:text="${item.branchCode}">BEY</td>
                                <td th:text="${item.detail}">PO123</td>
                                <td th:text="${item.lineNumber}">123</td>
                                <td th:text="${item.skuNumber}">SKU123</td>
                                <td th:text="${item.lotNo}">lotNo</td>
                                <td th:text="${item.qty}">25</td>
                                <td th:text="${item.receiptPo}">PO123</td>
                                <td th:text="${item.usd1}">123</td>
                                <td th:text="${item.usd2}">1234</td>
                                <td th:text="${item.usd3}">123456789</td>
                                <td th:text="${item.usd4}">123456789</td>
                                <td th:text="${item.usd5}">123456789</td>

                            </tr>

                        </table>
                        </td>
                    </tr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>